
.App-header {
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  height: 140px;
  h6 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
  .brand {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3px;
    svg {
      margin-right: 10px;
      fill:white;
    }
  }
}


.App-body {
  position: relative;
  top: -45px;
  width: 85%;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px 35px;
  @include shadow(0.16);


  .App-body-list{
    margin-top: 30px;
    .header{
      display: flex;
      //border: 1px solid #CCC;
      div:first-child{
        width: 45%;
      }
      &>div{
        margin-bottom: 10px;
        svg{
          margin-left: 5px;
          position: relative;
          top: 2px;
        }
      }
    }
    .list{
      .item{

        display: flex;
        border-top: 1px solid #CCC;
        align-items: center;
        & > div:first-child{
          width: 45%;
        }
        & > div:nth-child(2) {
          display: flex;
          justify-content: space-between;
          width: 55%;
          align-items: center;
          .graphs{
            display: flex;
            width: 65%;
            flex-wrap: wrap;
            div{
              width: 13px;
              height: 13px;
              border-radius: 100%;
              margin: 0px 4px 4px 0px;

            }
            .blue{
              background-color: $primary-color;

            }
            .light-blue{
              background-color: lighten($primary-color, 30);
            }


          }
        }
        &>div{
          padding: 25px 0px;
          display: flex;
          justify-content: space-between;
          .button {
            @include shadow(0.06);
          }

        }
      }

    }
  }

  .App-body-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .right-actions{
      display: flex;
      .button {
      }
    }


    .left-actions {
      display: flex;
      .toggle {
        display: flex;
        @include border(1px);
        border-radius: 4px;
        margin-right: 10px;
        @include shadow(0.02);
        p {
          padding: 00px 16px;
          display: flex;
          align-items: center;
          svg{    width: 1.35vw;}
        }
        .on {
          background-color: rgba(0,0,0,0.03);
          @include shadow-inset(0.2);
        }
      }
      .dropdown {
      /** Custom Select **/
      .custom-select-wrapper {
        position: relative;
        display: inline-block;
        user-select: none;
      }
        .custom-select-wrapper select {
          display: none;
        }
        .custom-select {
          position: relative;
          display: inline-block;
        }
          .custom-select-trigger {
            font-size: 1.35vw;
            font-weight: 300;
            color: rgba(0,0,0, 0.5);
            background: white;
            @include border(1px);
            @include block;
            width: 14.5vw;
          }
            .custom-select-trigger:after {

              position: absolute;
              display: block;
              content: '';
              width: 8px; height: 8px;
              top: 50%; right: 25px;
              margin-top: -3px;
              border-bottom: 2px solid black;
              border-right: 2px solid black;
              transform: rotate(45deg) translateY(-50%);
              transition: all .4s ease-in-out;
              transform-origin: 50% 0;
            }
            .custom-select.opened .custom-select-trigger:after {
              margin-top: 3px;
              transform: rotate(-135deg) translateY(-50%);
            }
            .custom-options {
              position: absolute;
              display: block;
              top: 100%; left: 0; right: 0;
              min-width: 100%;
              margin: 15px 0;
              @include border(1px);
              border-radius: 4px;
              box-sizing: border-box;
              box-shadow: 0 2px 1px rgba(0,0,0,.07);
              background: #fff;
              transition: all .4s ease-in-out;
              z-index: 9;
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
              transform: translateY(-15px);
            }
            .custom-select.opened .custom-options {
              opacity: 1;
              visibility: visible;
              pointer-events: all;
              transform: translateY(0);
            }
              .custom-options:before {
                position: absolute;
                display: block;
                content: '';
                bottom: 100%; right: 25px;
                width: 7px; height: 7px;
                margin-bottom: -4px;
                border-top: 1px solid #b5b5b5;
                border-left: 1px solid #b5b5b5;
                background: #fff;
                transform: rotate(45deg);
                transition: all .4s ease-in-out;
              }
              .option-hover:before {
                background: #f9f9f9;
              }
              .custom-option {
                position: relative;
                display: block;
                padding: 0 22px;
                border-bottom: 1px solid #b5b5b5;
                font-size: 1.4vw;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.5);
                line-height: 47px;
                cursor: pointer;
                transition: all .4s ease-in-out;
              }
              .custom-option:first-of-type {
                border-radius: 4px 4px 0 0;
              }
              .custom-option:last-of-type {
                border-bottom: 0;
                border-radius: 0 0 4px 4px;
              }
              .custom-option:hover,
              .custom-option.selection {
                background: #f9f9f9;
              }
          }
        }
  }
}
